body{
  background:#0a0a0a;
  color:#fff;
  font-family:Arial;
}

nav a{
  margin:10px;
  color:#00ff88;
  text-decoration:none;
}

.profile{
  width:150px;
  border-radius:50%;
}

.card{
  margin:20px;
}

img{
  width:200px;
}
